*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: border-box;
}

$primary-color: #480caa;
$primary-color-variant: #44cbe9;
$secondary-color: #f72224;
$white-color: #ffffff;
$light-color: rgba(#fff, 0.5);
$black-color: #0ec1;
$dark-color: rgba($black-color, 0.7);
$success-color: #54ae23;
$container-lg: 82%;
$container-nd: 90%;

body{
    background-color: $primary-color;
}




















